<ion-view title="Inscription" id="page4" style="background-color:#95E767;" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="inscription-list3" class=" ">
            <ion-item class="item-icon-left  " id="inscription-list-item3">
                <i class="icon ion-android-person-add"></i>Inscription PokeChat</ion-item>
        </ion-list>
        <div id="inscription-button-bar1" class=" button-bar "></div>
        <ion-list id="inscription-list4" class=" ">
            <ion-item class="item-divider " id="inscription-list-item-divider2"></ion-item>
            <label class="item item-input " id="inscription-input4">
                <span class="input-label">Email</span>
                <input type="email" ng-model="login" placeholder="">
            </label>
            <label class="item item-input " id="inscription-input5">
                <span class="input-label">Password</span>
                <input type="password" ng-model="password" placeholder="">
            </label>
            <ion-item class="item-divider " id="inscription-list-item-divider1"></ion-item>
        </ion-list>
        <button id="inscription-button4" class=" button button-positive  button-block icon ion-android-add-circle " ng-click="inscription(login, password)">S'inscire</button>
        {{ inscription_error }}
    </ion-content>
</ion-view>