<ion-view title="Accueil" id="page3" style="background-color:#000;" class=" ">
    <ion-content padding="true" class="has-header">

		<h1>
		user connecté
		</h1>

		<a href="" class="btn1">
		<img src="img/btn8.jpg" class="btn_img1" />
		user</a>


		<a href="" class="btn1">
		<img src="img/btn8.jpg" class="btn_img1" />
		Profil</a>


		<a href="" class="btn1">
		<img src="img/btn8.jpg" class="btn_img1" />
		Chat</a>



		<a href="" class="btn1">
		<img src="img/btn8.jpg" class="btn_img1" />
		Msg</a>


    </ion-content>
</ion-view>