<ion-view title="PokeGoChat" id="page3" style="background-color:#BDE951;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 19px;"></div>
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <form id="pokeGoChat-form3" class="list ">
            <label class="item item-input " id="pokeGoChat-input6">
                <span class="input-label">Email</span>
                <input type="email" placeholder="">
            </label>
            <label class="item item-input " id="pokeGoChat-input7">
                <span class="input-label">Password</span>
                <input type="password" placeholder="">
            </label>
            <button id="pokeGoChat-button5" class=" button button-positive  button-block ">Connexion</button>
        </form>
    </ion-content>
</ion-view>